.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.lighten-1{
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.stick {
    position:absolute;
    bottom:0;
    width:100%;
  }